- 
    let skillMenu = [
        {
            name: "HTML/CSS JavaScript" 
        },
        {
            name: "SASS/Pug Galp" 
        },
        {
            name: "Bootstrap, jQuery" 
        },
        {
            name: "Node.js, Ajax" 
        },
        {
            name: "Version Control / Git" 
        },
        {
            name: "PHP, MySQL" 
        },
        {
            name: "React" 
        },
    ] 

- 
    let mainMenu = [
        {
            name: "About" , 
            url: "#about"
        },
        {
            name: "Skills" , 
            url: "#skills"
        },
        {
            name: "Portfolio" , 
            url: "#portfolio"
        },
        {
            name: "Contact" , 
            url: "#contact"
        },
    ] 
-


mixin skillsBar (items) 
    for item in items 
        .skill-name
            h2 #{item.name}

.scroll
mixin menu (items) 
    for item in items 
        li
            a.menu-link(href=item.url) #{item.name} 
